# .htaccess 
# ------------
# the .htaccess file customizes how the Apache server will behave with directives
# comments in .htaccess begin with a number sign (like this line does)
# instructions without number sign in front are directives
# learn more about .htaccess: https://www.askapache.com/htaccess/

# ----------------------------------------
# Ensure server uses correct character encoding
AddDefaultCharset UTF-8

# ----------------------------------------
# Server will use British Columbia time zone
SetEnv TZ Canada/Pacific


# ----------------------------------------
# Enable directory browsing
#	use: Options All +Indexes
# Disable directory browsing
# 	use: Options All -Indexes
Options All +Indexes

# ----------------------------------------
#	EXERCISE
#
# Use .htaccess to handle the 404 Page Not Found
# Direct errors to a specified path			
# ErrorDocument <errorNumber> <path>
# Note: use a server-root based path here
ErrorDocument 404 ../errors/index.html


# AddType and AddHandler can be instructed to parse .html files as .php
AddType application/x-httpd-php .html
AddHandler application/x-httpd-php .htm .html

#add this code to your .htaccess
#the pipe delimited lists describe which file types to target
#max-age=31536000 describes the duration of the cache in seconds
	
#cache image files for one year
<filesMatch ".(jpg|jpeg|png|gif|ico)$">
	Header set Cache-Control "max-age=31536000, public"
</filesMatch>

#cache css and js files for one month
<filesMatch ".(css|js)$">
	Header set Cache-Control "max-age=2628000, public"
</filesMatch>

#if your html content is regularly updated, set a 1 day cache
<filesMatch ".(html)$">
	Header set Cache-Control "max-age=86400, public"
</filesMatch>

#if needed, you can also disable caching for specific file types
#for example, if CSS styles are updated regularly, disable CSS caching
<filesMatch ".(css)$">
	Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
</filesMatch>

#the file types in the pipe delimited list here
#will ensure browsers that cant handle GZip wont get it
<IfModule mod_headers.c>
  <FilesMatch ".(js|css|xml|gz|html)$">
    Header append Vary: Accept-Encoding
  <FilesMatch>
</IfModule>
	
#files types defined here will use GZip compression
#for any client browsers that can handle GZip
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript