/*print styles*/
@media print{
	/* display fully qualified hyperlink URLs */
	a[href^="http"]:after{
		content:" URL: (" attr(href) ") ";		
	}
	/* hide navigation */
	nav{
		display:none;
	}
	/* never end a page with a heading */
	h1, h2, h3, h4, h5, h6{
		page-break-after:avoid;
	}
	/* start new page with each new section(but dont page break with the first section)*/
	section ~ section{
		page-break-before:always;
	}
}